.address-container {
  margin-bottom: 60px;
}

.address__text {
  display: block;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-bottom: 8px;
}

.address__link {
  display: block;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  &:not(:last-child) {
    margin-bottom: 8px;
  }
}
