.modal {
  width: 100%;
  height: 100%;
  padding: 8px;

  background-color: #ffffff;

  @media screen and (min-width: 480px) {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 450px;
    height: 609px;
    padding: 40px;

    transform: translate(-50%, -50%) scale(1);
    transition: transform var(--timing-function);
  }

  @media screen and (min-width: 1200px) {
    width: 528px;
    height: 581px;
  }
}

.modal-close-btn {
  margin-left: auto;
  @media screen and (min-width: 480px) {
    position: absolute;
    top: 8px;
    right: 8px;
  }

  display: flex;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;

  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  &:hover,
  &:focus {
    fill: var(--acent-text-color);
  }
}

.modal-tittle {
  margin-bottom: 12px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;

  @media screen and (max-width: 479px) {
    padding-right: 20px;
    padding-left: 20px;
  }

  @media screen and (min-width: 1200px) {
    line-height: 1.15;
  }
}

.modal-form {
  @media screen and (max-width: 479px) {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.modal-label {
  display: block;
  padding: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-label:not(:first-child) {
  margin-top: 10px;
}

.input-field {
  position: relative;
  margin-top: 4px;
}

.modal-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;

  transition: border-color var(--timing-function), fill var(--timing-function);
  &:focus {
    border-color: var(--acent-text-color);
  }
  &:focus + .modal-form-icon {
    fill: var(--acent-text-color);
  }
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}

.modal-textarea {
  display: flex;
  margin-top: 4px;
}

.modal-text {
  width: 100%;
  height: 120px;
  padding: 12px 16px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  outline: none;

  transition: border-color var(--timing-function);

  &:focus {
    border-color: var(--acent-text-color);
  }
  &::placeholder {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);

    @media screen and (min-width: 1200px) {
      font-size: 12px;
      line-height: 1.17;
    }
  }
}

.modal-checkbox {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.label-check {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;

  transition: background-color var(--timing-function),
    fill var(--timing-function);

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.71;
  }
}

.input-check-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;

  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 4px;
  .input-check:checked + .label-check & {
    background-color: var(--acent-text-color);
    border: none;
  }
  .input-check:checked + .label-check & .check-icon {
    fill: #ffffff;
  }
}

.check-icon {
  fill: transparent;
}

.check-link {
  color: var(--acent-text-color);
  margin-left: 5px;
}

.modal-form-btn {
  @media screen and (max-width: 321px) {
    margin: 10px auto 40px auto;
  }
  margin: 30px auto 40px auto;
}
