.page-header {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #ececec;
    .container {
            display: flex;
            align-items: center;
        }
    &__logo {
    margin-right: 93px;
    }
}


// .page-header__logo {
//     margin-right: 93px;
// }