.project-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
}

.project-item {
    width: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-bottom: 30px;

    transition: box-shadow var(--timing-function);
    &:hover {
            cursor: pointer;
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
                1px 4px 6px rgba(0, 0, 0, 0.16);
        }
    &:hover .project-text-overley {
        transform: translateY(0%);
    }
}

.project-image {
    display: block;
}

.project-overley {
    position: relative;
    overflow: hidden;
}

.project-text-overley {
    display: flex;
    align-items: center;
    padding-right: 24px;
    padding-left: 24px;
    background-color: rgba(33, 150, 243, 0.9);

    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: #ffffff;

    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    transform: translateY(100%);
    transition: transform var(--timing-function);
}

.project-content {
    box-sizing: border-box;
    width: 370px;
    padding: 20px 24px;
    border-width: 1px;
    border-style: solid;
    border-color: #ececec;
    border-top: none;
}

.project-title {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
}

.project-text {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}