body {
    font-family: "Roboto", sans-serif;
    color: var(--primary-text-color);
}



.link {
    text-decoration: none;
    transition: color var(--timing-function), fill var(--timing-function);
    &:hover,
    &:focus,
    &:active {
        color: var(--acent-text-color);
        fill: var(--acent-text-color);
    }
}

.list {
    list-style: none;
}

.container--centered {
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}

.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;

    @media screen and (min-width: 480px) {
        width: 480px;
    }

    @media screen and (min-width: 768px) {
         width: 768px;
    }

        @media screen and (min-width: 1200px) {
            width: 1200px;
        }
}